<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css">
    <script src="https://js.arcgis.com/4.15/"></script>

    <title>ArcGIS API for JavaScript Tutorials: Create a JavaScript starter app</title>

    <script>
        require([
            "esri/Map",
            "esri/views/MapView"
        ], function (Map, MapView) {

            var mapObj = new Map({
                basemap: "topo-vector"
            });

            var view = new MapView({
                container: "viewDiv",
                map: mapObj,
                center: [-118.80500, 34.02700], // longitude, latitude
                zoom: 13
            });
        });
    </script>
</head>
<body>
    <br />
    <br />
    <div>Det ser sådan set fint ud. Der er mange features ved denne API, til geodata analyse osv (3D hokuspokus), <br /> så måske er denne her lidt for voldsom i forhold til hvad vi skal bruge?
    <br />Som du nok også har bemærket er der en væsentligere længer load tid. </div>
    <div id="viewDiv" style="height:500px"></div>
</body>
</html>

