<html>
<head>

</head>
<body>
    <canvas id="chart"></canvas>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js'></script>
    <script src='https://d3js.org/d3.v6.min.js'></script>
    <script src="~/Scripts/chart3.js"></script>

    <canvas id="linechart" height="150" width="400"></canvas>
    <script src="~/Scripts/linechart.js"></script>

    <canvas id="doughnut" height="150" width="400"></canvas>
    <script src="~/Scripts/doughnut.js"></script>

    <canvas id="polarArea" height="150" width="400"></canvas>
    <script src="~/Scripts/polarArea.js"></script>

    <canvas id="horizontalBar" height="150" width="400"></canvas>
    <script src="~/Scripts/horizontalBar.js"></script>

    <canvas id="xmlChart" height="150" width="400"></canvas>
    <script src="~/Scripts/xmlChart.js"></script>
    



</body>
</html>