<!DOCTYPE html>
<html>
<head>
    <style>
        /* Set the size of the div element that contains the map */
        #map {
            height: 400px; /* The height is 400 pixels */
            width: 100%; /* The width is the width of the web page */
        }
    </style>
</head>
<body>
    <h3>Gmap</h3>
    <!--The div element for the map -->
    <div>Googles maps er jo fine nok. Det er bare ærgeligt at man skal betale for at undgå watermarks. Ellers en udemærket løsning.</div>
    <div id="map"></div>
    <script>
        function initMap() {
            //var jesper = { lat: 57.049280, lng: 9.879060 };
            var lp = { lat: 57.460972, lng: 9.981570 };
            var map = new google.maps.Map(
                document.getElementById('map'), { zoom: 10, center: lp });

            //var markerJesper = new google.maps.Marker({ position: jesper, map: map });
            //var markerLP = new google.maps.Marker({ position: lp, map: map });

            var iconBase = 'https://maps.google.com/mapfiles/kml/shapes/';

            // Her er det noget med at man kan bruge PHP til at forbinde til MySQL som giver en XML fil til nedenstående
            var xml = "stien til en XML fil der indeholder kordinater";
            markers = xml.documentElement.getElementsByTagName("marker");
            for (var i = 0; i < markers.length; i++) {
                var name = entries[i].getAttribute("name");
                var email = entries[i].getAttribute("email");
                var lat = entries[i].getAttribute("latitude");
                var lng = entries[i].getAttribute("longitude");
                point = new google.maps.LatLng(lat, lng);
                marker = new google.maps.Marker({
                    map: map,
                    position: point,
                });
            }
        }
    </script>
    <!--Load the API from the specified URL
    * The async attribute allows the browser to render the page while the API loads
    * The key parameter will contain your own API key (which is not needed for this tutorial)
    * The callback parameter executes the initMap() function
    -->
    <script defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCTr9O4BCRhk69fpiJ9lgL2W3J2uWnzKMY&callback=initMap">
    </script>
</body>
</html>