<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--  Link til Leaflets stylesheet-->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
          crossorigin="" />
    <!--Leaflets API-->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>

    
    <title></title>
</head>
<body>
    <br />
    <div style="height: 50px">Det ser da ikke tosset ud :), Her er det muligt at anvende forskellige kort layers (leaflet er bare basemap) <br /> Det du ser nu er fra Mapbox's tiles.</div>
    <div id="mapid" style="height: 600px;">  </div>
    <script>
        var mymap = L.map('mapid').setView([57.047218, 9.920100], 8);
        // HER BRUGES DER MAPBOX's KORTSTIL. HVIS MAN IKKE KAN LIDE HVORDAN DET SER UD, KAN MAN SKIFTE TIL STAMEN ELLER THUNDERFOREST MF.
        L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}', {
            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
            maxZoom: 18,
            id: 'mapbox/streets-v11',
            tileSize: 512,
            zoomOffset: -1,
        // ACCESSTOKEN FÅET FRA MAPBOX
            accessToken: 'pk.eyJ1IjoibXJzYWdneSIsImEiOiJja2ZiamQ4ajYwcXh3MnhvODU4NjZrZ29xIn0.JXSCWFKMGdFElSPErRk-Zg'
        }).addTo(mymap);
    </script>
    <script>
        //HER KAN VI TILFØJE MARKERS
        var marker1 = L.marker([57.060951, 9.922590]).addTo(mymap);
        var marker2 = L.marker([57.460972, 9.981570]).addTo(mymap);
        var marker3 = L.marker([57.221111, 9.678760]).addTo(mymap);
        var marker3 = L.marker([57.205720, 9.864940]).addTo(mymap);
    </script>
    <br />
    For at se en tutorial på hvordan man kan lave både cirkler, polygoner, linjer, eller pop-ups, kan du klikke <a href="https://leafletjs.com/examples/quick-start/">HER</a>
</body>
</html>
