<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
    <title>Test at læse data fra XML fil</title>
</head>
<body>
    <div class="Test">
        <ul></ul>
    </div>
    <script src="~/Scripts/Primary.js"></script>
    

</body>
</html >
